@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');
.bottom-nav{
    background-color: white!important;
    border-radius: 10px 10px 0px 0px;
    border: none !important;
    box-shadow: 0px -4px 24px 0px #5516AA1A;
}
.bottom-nav-item.active .bottom-nav-item--title{
    color: #5516AA;
    font-weight: 700;
}
.bottom-nav-item--title{
    font-weight: 700;
    color: #898989;
}
body{
    background-color: white;
    margin: 0px;
    padding: 0px;
    font-family: League+Spartan;
}
.bottom-nav-item.active{
    background-color: transparent !important;
}

.form-check-input{
    border:1px solid #C3D0FB !important;
}

